@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Quicksand&display=swap');
body {
  margin: 0;
}


.AvatarIcon{
font-family: Fascinate;
}
.Navbar{
  background-color: #333;
padding-top: 15px;
}
.Navbar a{
  margin: 25px;
  padding-top: 10px;
  color: rgba(239, 170, 170, 0.926);
}


.createAvtrBlankInput{
  display: flex;
 max-width:678px ;
 flex-direction:column;
 margin: auto;
 margin-bottom: 10px;
}

.createAvtrBlankInput input{
border-radius: 10px;
}

.powerType{
  background-color: #333;
}
/* .Fire{
  background-color: red;
} */

.powerType option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}